<style type="text/css">

#apDiv1 {
	position:absolute;
	width:702px;
	height:106px;
	z-index:1;
	left: 92px;
	top: 221px;
}
#apDiv2 {
	position:absolute;
	width:90%;
	height:33px;
	z-index:22;
	left: 7.9%;
	top: 165px;
}
#apDiv3 {
	position:relative;
	width:68%;
	height:inherit;
	z-index:9;
	left: 7%;
}
body {
	background-image: url(images/back.gif);
	background-repeat: repeat;
}
#apDiv4 { /*Notice Board Rk*/
	position:absolute;
	width:175px;
	height:200px;
	z-index:4;
	left: 79%;
	top: 250px;
	border:inset;
	font-family: Verdana,Helvetica,sans serif;
	font-size:10pt;
	font-weight:bold;
        
}
#Layer1 {
	position:absolute;
	width:575px;
	height:76px;
	z-index:5;
	top: 24px;
	left: 16px;
}
#Layer2 {
	position:absolute;
	width:199px;
	height:78px;
	z-index:5;
	left: 193px;
	top: 3px;
}
#Layer3 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:5;
	left: 8%;
	top: 15px;
}
#Layer4 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:6;
	left: 75%;
}
#Layer5 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:7;
	left: 75%;
	top: 92%;
}
#apDiv5 {
	position:absolute;
	width:75%;
	height:80%;
	z-index:3;
	left: 8%;
	top: 35%;
}
#apDiv6 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:11;
	left: 0%;
	top: 80%;
}
#apDiv7 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:10;
	top: 500px;
	left: 79%;
}
#apDiv8 {
	position:relative;
	width:70%;
	height:115px;
	z-index:9;
	left: 8%;
}
#apDiv9 {
	position:absolute;
	width:70%;
	height:115px;
	z-index:13;
	top: 218%;
	left: 11%;
}
#apDiv10 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:15;
	top: 110%;
	left: 80%;
}
#apDiv11 {
	position:absolute;
	width:200px;
	height:134px;
	z-index:2;
	left: -168px;
	top: 0%;
}
#apDiv12 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:13;
}
#apDiv13 {
	position:absolute;
	width:25%;
	height:226px;
	z-index:18;
	left: 74%;
	top: 90%;
}
#apDiv14 {
	position:absolute;
	width:200px;
	height:50px;
	z-index:4;
	top: 210px;
	left: 82%;
}
#apDiv15 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:20;
	left: 76%;
}
#apDiv16 {
	position:relative;
	width:90%;
	height:115px;
	z-index:9;
}
#apDiv17 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:22;
	top: 2%;
	left: 83%;
}
#linkref {
        text-decoration:none;
        font-weight:bold;
        color:#b0b0b0;
        font-family:Verdana,Helvetica,sans serif;
        font-size:10pt;
}
#linkref:hover {
        color:#f0f0f0;
}
</style>